.cms
  %nav.menu
    %ul
      %li= link_to 'post', new_post_path(:type => 'post')
      %li= link_to 'image', new_post_path(:type => 'image')
      %li
        %strong QUOTE
      %li= link_to 'link', new_post_path(:type => 'link')
      %li= link_to 'video', new_post_path(:type => 'video')
      %li= link_to 'sound', new_post_path(:type => 'sound')

  = semantic_form_for(@post, :html => {:multipart => true}) do |f|
    = f.input :user_id, :as => :hidden, :value => current_user.id.to_s
    = f.input :the_type, :as => :hidden, :value => 3
    = f.input :description, :label => "Quote:", :hint => "Markdown is OK"
    = f.input :title, :as => :string, :label => "Source:"
    
    = f.submit
