.post
  - if post.title
    - unless local_assigns.has_key? :notitle
      .title= link_to post.title, post
  
  -if post.url
    -if post.url =~ /^\.\.\/upload/
      = image_tag post.url.sub(/^\.\.\//, '/'), :width => 500
    -else
      = image_tag post.url
  -else
    = image_tag post.localimage.url(:bigger)
  
  -if post.description
    .description= raw post.description