.cms
  %nav.menu
    %ul
      %li= link_to 'post', new_post_path(:type => 'post')
      %li= link_to 'image', new_post_path(:type => 'image')
      %li= link_to 'quote', new_post_path(:type => 'quote')
      %li= link_to 'link', new_post_path(:type => 'link')
      %li= link_to 'video', new_post_path(:type => 'video')
      %li= link_to 'sound', new_post_path(:type => 'sound')
