!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "blindness"
    %link{:href => "http://feeds.feedburner.com/blindness/", :rel => "alternate", :title => "Blindness feed", :type => "application/rss+xml"}/
    %link{:href => "http://feeds2.feedburner.com/IcewhistleAll", :rel => "alternate", :title => "Icewhistle aggregate feed", :type => "application/rss+xml"}/
    %link{:href => "http://feeds2.feedburner.com/Icewhistle", :rel => "alternate", :title => "Icewhistle feed", :type => "application/rss+xml"}/    
    %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700italic|Open+Sans:300italic,400,600,300&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag :application
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .container
      %header
        .sixteen.columns
          .three.columns.alpha
            &nbsp;
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                  %a.close{"data-dismiss" => "alert"} 
                  = content_tag :div, msg, :id => "flash_#{name}"
            
          .thirteen.columns.omega
            %h1= link_to '.blindness.', '/'
            - if current_user
              = link_to 'add/edit', new_post_path
          
      .three.columns.alpha.sidebar
        .infobox
          %h2 about
          %p 
            this is a quick miniblog to spit for
            = link_to 'me', 'http://icewhistle.com/'
            to spit out quick images, text bleats, and other materials.
        .infobox
          %h2 connections
          %ul
            %li= link_to 'icewhistle', 'http://icewhistle.com/'
            %li= link_to 'ptarmigan', 'http://ptarmigan.ee/'
            %li= link_to 'cenotaph', 'http://cenotaph.org/'
        .infobox
          %h2 recurring
          %ul
            - @recurring.each do |r,v|
              %li
                = link_to r.upcase, filtered_post_path(r.to_param)
                %span.small= "(#{v})"
        .infobox
          %h2 find
          = form_tag(search_posts_path) do |f|
            = text_field_tag :searchterm
            
      .thirteen.columns.omega.yield= yield
  %footer
    .lined
      .inner
        .column.small
          2008 - present
        .column
          = link_to '@hyksos', 'http://twitter.com/hyksos'
          |
          = link_to 'email', 'mailto:john ut ptarmigan punkt fi'
        .column= link_to 'GitHub source', 'http://github.com/cenotaph/blindness'